.btn.btn-primary .icon,
.btn.btn-positive .icon,
.btn.btn-negative .icon {
  color: #eee;
}

.btn.btn-primary,
.btn.btn-positive,
.btn.btn-negative {
  color: #eee;
}

input[type=checkbox] {
  width: 20px;
  margin-left: 20px;
}

.form-group label {
    width: 100px;
    text-align: right;
    vertical-align: bottom;
}

.form-control[type=text],
.form-control[type=password],
.form-control[type=file] {
    width: 300px;
}


.form-control[type=number] {
    width: 100px;
}

.status.open {
  color:#34c84a;
}

.status.closed {
  color:#ccc;
}

.status.error {
  color:#fc605b;
}

.hidden {
  display: none !important;
}

.nav-group-item .icon.pull-right {
  float:right;
}

.nav-group-item .icon.menu-actions {
  color: rgba(150, 150, 150, 0);
  transition: color 0.3s ease-in-out;
}

.nav-group-item:hover .icon.menu-actions {
  color: rgba(150, 150, 150, 1);
}
